.button{
	user-select: none;
	font-size: 1rem;
	line-height: 1.5;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	padding: .375rem .75rem;
	display: inline-block;
	color: $white;
	background-color: $grey;
	text-decoration: none;
	text-align: center;
	border: 1px solid transparent;
	border-radius: .25rem;
	font-weight: 400;
	white-space: nowrap;
	vertical-align: middle;
	@media screen and (max-width:760px){
		font-size: rem(12);
	}
	&:hover{
		background-color: lighten($grey, 10%);
	}

	&--primary{
		background-color: $button-primary-color;
		&:hover{
			background-color: lighten($button-primary-color, 10%);
		}
	}

	&--secondary{
		background-color: $button-secondary-color;
		&:hover{
			background-color: lighten($button-secondary-color, 10%);
		}
	}

	&--success{
		background-color: $green;
		&:hover{
			background-color: lighten($green, 10%);
		}
	}

	&--danger{
		background-color: $red;
		&:hover{
			background-color: lighten($red, 10%);
		}
	}

	&--warning{
		background-color: $button-warning-color;
		&:hover{
			background-color: lighten($button-warning-color, 10%);
		}
	}
	&--info{
		background-color: $button-info-color;
		&:hover{
			background-color: lighten($button-info-color, 10%);
		}
	}

	&--ligth{
		background-color: $button-light-color;
		&:hover{
			background-color: lighten($button-light-color, 10%);
		}
	}

	&--dark{
		background-color: $button-dark-color;
		&:hover{
			background-color: lighten($button-dark-color, 10%);
		}
	}

}

