.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; 
    background-color: $white;
    height: 258px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
        margin: 0;
    }

    &--lg{
       
        border-radius: 30px;
        height: 400px;
        padding: 30px; 

        h2, span, a{
            font-family: $roboto;
            color: #8A8683;
        }

        label{
            font-family: $roboto;
        }
    }
}


