.container {
	margin: 0 auto;
	overflow-x: hidden;
	margin-top: $header-height;
	padding: $sidebar-padding-top 50px 10px 50px;

}

.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0 calc(#{$gutter-width}/ -2);
	justify-content: space-around;
}

@for $i from 1 through $col-nb {

	.col-#{$i} {
		flex-basis: calc(100 / (#{$col-nb} / #{$i}) * 1%);
		width: calc(100 / (#{$col-nb} / #{$i}) * 1%);
		padding: 0 calc(#{$gutter-width} / 2);
	}

	.col-sm-#{$i} {
		flex-basis: calc(100 / (#{$col-nb} / #{$i}) * 1%);
		width: calc(100 / (#{$col-nb} / #{$i}) * 1%);
		padding: 0 calc(#{$gutter-width} / 2);
	}
}

[class^="col-md"], [class^="col-lg"] {
	flex-basis: 100%;
	width: 100%;
	padding: 0 calc(#{$gutter-width}/ 2);
}

@for $i from 1 through $col-nb {

	@media all and (min-width: $md-width) {
		.col-md-#{$i} {
			flex-basis: calc(100 / (#{$col-nb} / #{$i}) * 1%);
			width: calc(100 / (#{$col-nb} / #{$i}) * 1%);
			padding: 0 calc(#{$gutter-width}/ 2);
		}
	}
}

@for $i from 1 through $col-nb {
	@media all and (min-width: $lg-width) {
		.col-lg-#{$i} {
			flex-basis: calc(100 / (#{$col-nb} / #{$i}) * 1%);
			width: calc(100 / (#{$col-nb} / #{$i}) * 1%);
			padding: 0 calc(#{$gutter-width}/ 2);
		}
	}

}

@for $i from 1 through $col-nb {
	@media all and (min-width: $xl-width) {
		.col-xl-#{$i} {
			flex-basis: calc(100 / (#{$col-nb} / #{$i}) * 1%);
			width: calc(100 / (#{$col-nb} / #{$i}) * 1%);
			padding: 0 calc(#{$gutter-width}/ 2);
		}
	}

}






