@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
$primary: #00FCD1;
$secondary: #04DFBD;
$lighter: #9596A2;
$light: #3D4256;
$dark: #1E2137;
$bg1: #333342;
$bg2: #4D4E63;
$border-radius: 12px;

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

//--- ## FORM #############
.login {
  width: 420px;
  background: #ffffff;
  box-shadow: 0 20px 50px rgba(0,0,0,0.1);
  border-radius: $border-radius;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:before {
    content:"";
    position: absolute;
    background: transparent;
    bottom: 45px;
    right: 40px; 
    width: 55px;
    height: 55px;
    z-index: 5;
    transition: all .6s ease-in-out, background 0s ease;
  }
  .form {
    display: block;
    position: relative;
    h2 {
      background: #f5f5fa;
      display: block;
      box-sizing: border-box;
      width: 100%;
      margin: 0 0 30px 0;
      padding: 40px;
      font-weight: 200;
      color: $lighter;
      font-size: 19px;
    }
    .form-field {
      display: flex;
      align-items: center;
      height: 55px;
      margin: 0 40px 30px 40px;
      border-bottom: 1px solid $lighter;
      label {
        padding: 0 15px 0 0;
        color: $lighter;
      }
      input {
        width: 100%;
        background: transparent;
        color: $lighter;
        padding: 15px;
        border: 0;
        margin: 0;
        &+svg {
          width: 35px;
          width: 35px;
          fill: none;
          stroke: $primary;
          stroke-width: 7;
          stroke-linecap: round;
          stroke-dasharray: 1000;
          stroke-dashoffset: -100;
          transition: all .3s ease-in-out;
        }
        &:valid + svg {
          stroke-dashoffset: 0;
        }
        &:focus {
          outline: none;
        }
      }
      *::placeholder {
        color: $lighter;
      }
    }
    .button-submit {
      width: 60%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      cursor: pointer;
      box-sizing: border-box;
      border: 0;
      background: transparent;    
      outline: none;
      background: purple  ;
      box-shadow: white;
      border-radius: $border-radius;
      color: #fff;
      line-height: 55px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
