.sidebar{
  width: 345px;
  position: fixed;
  left: 0;
  height: 100%;
  background-color: #23282D;
}
.sidebar-menu a{
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.1rem;
}
.sidebar-menu ul{
  list-style: none;
}
.sidebar-menu hr{
  width: 165px;
  position: absolute;
  border: 1px solid #47515A;
}

.sidebar-menu li{
  width: 100%;
  margin-bottom: 1.7rem;
}