.slider {
	height: auto;
	width: $max-xl-width;
	margin: auto;
	overflow: hidden;
	position: relative;
}

.slider-item {
	width: 100%;
	max-height: 400px;
	margin: 0 auto;
	display: none;
	justify-content: center;
	align-items: flex-start;
}

.slider-item.active {
	display: flex;
}

.slider-item img {
	width: $max-xl-width;
	height: auto;
}

.slider-control {
	text-align: center;
	width: $max-xl-width;
	position: absolute;
	bottom: 40%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
}